.card {
  box-shadow: 14px 15px 14px -3px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 14px 15px 14px -3px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 14px 15px 14px -3px rgba(0, 0, 0, 0.31);
}
.card-text.name {
  font-weight: bold;
}
.card-text.brand {
  font-weight: bold;
}
